<div class="pure-g">
	<div class="wrapper pure-u-2-3" id="about-me-text">
		<h1>About Me</h1>
		<p>I am a recent graduate of General Assembly, trained in Full Stack Development. 

		I graduated from Harvard University with a degree in English and from Washington University in St. Louis with an MFA in Writing. After graduate school I was working as a grant writer, but found myself wanting to do work that was more creative. After tinkering around for a bit on Codecademy, I eventually discovered that I loved both the visual and coding aspects of developing websites and enrolled in the 12-week Web Development Immersive Program at General Assembly. During these weeks I was able to build four web applications from scratch, using HTML, CSS frameworks, JavaScript, and JQuery, as well as backend technologies Node.js and Ruby on Rails. For my final project, I built a single-page web game with Backbone.js on frontend and Ruby on Rails for backend—an interactive, digital version of a book I enjoy. 

		I am now excited to continue growing in code, as I feel that I have barely scratched the surface. The best part of this work is being forced to learn something new every day.<p> 
	</div>
</div>
<div class="pure-g">
	<div class="wrapper pure-u-2-3" id="ecole-text">
	<h1>Ecole</h1>
		I would be thrilled to have the opportunity to work for Ecole, whose startup environment and dedication to innovating new ways of doing retail speak to me.  Fashion is a big side-passion of mine, and it would be wonderful to get to combine my interest in fashion in a job in code. I am also looking forward to an internship opportunity in which I will be able to deepen my understanding of Backend development and leave me with a strong foundation to jump off moving forward. 
	</div>
</div>